body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}


section {
  margin: 0 auto;
  width: 60%;
	padding-top: 100px;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.element:nth-of-type(7) {
	background-color: blue;
}

.element:nth-of-type(8) {
	background-color: yellow;
}

.element:nth-of-type(9) {
	background-color: purple;
}
